<!DOCTYPE html>
<html>
<head>
    <title>Authenticate Face</title>
    <link rel="stylesheet" href="../static/css/authenticate.css">
</head>
<body>
    <div class="container fade-in">
    <h1>Face Authentication</h1>
    
    <div id="videoContainer">
        <video id="video" autoplay muted></video>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    
    <button onclick="startCamera()" class="button">Start Camera</button>
    <button onclick="authenticateFace()" class="button" id="authBtn" disabled>Authenticate Face</button>
    <button onclick="stopCamera()" class="button">Stop Camera</button>
    
    <div id="status"></div>
    <a href="/">Back to Home</a>
    </div>
    <script src="../static/js/authenticate.js"></script>
</body>
</html>