<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Register Face</title>
</head>
<body>
    <div class="container fade-in">
    <h1>Face Registration</h1>
    <input type="text" id="nameInput" placeholder="Enter your name" />
    <br>
    
    <div id="videoContainer">
        <video id="video" autoplay muted></video>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    
    <button onclick="startCamera()" class="button">Start Camera</button>
    <button onclick="startCapture()" class="button" id="captureBtn" disabled>Start Image Capture</button>
    <button onclick="registerFace()" class="button" id="registerBtn" disabled>Register Face</button>
    <button onclick="stopCamera()" class="button">Stop Camera</button>
    
    <div class="progress">
        <div class="progress-bar" id="progressBar"></div>
    </div>
    <div id="status"></div>
    <a href="/">Back to Home</a>

    </div>
    <script src="../static/js/register.js"></script>
</body>
</html>